@import url('https://fonts.googleapis.com/css2?family=Martel+Sans:wght@600&display=swap') * {
    padding: 0;
    margin: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    background-color: black;
}

.main {
    background-image: url("Assets/images/bg.jpeg");
    background-position: center center;
    background-size: max(1200px, 100vw);
    background-repeat: no-repeat;
    height: 644px;
    position: relative;
}

.main .box {
    height: 644px;
    width: 100%;
    opacity: 0.69;
    position: absolute;
    top: 0;
    background-color: black;
}

nav {
    max-width: 70vh;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 120px;
}

nav img {
    color: red;
    width: 200px;
    position: relative;
    z-index: 10;

}

nav button {
    position: relative;
    z-index: 10;
}

.hero {
    padding: 29px;
    font-family: "Martel Sans", sans-serif;
    color: white;
    position: relative;
    height: calc(100% - 100px);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding: 0 30px;
    gap: 23px;
}

.hero> :nth-child(1) {
    font-weight: bolder;
    font-size: 40px;
    text-align: center;
}

.hero> :nth-child(2) {
    font-weight: 400;
    font-size: 20px;
    text-align: center;
}

.hero> :nth-child(3) {
    font-weight: 400;
    font-size: 16px;
    text-align: center;
}

.separation {
    height: 7px;
    background-color: rgb(46, 44, 44);
    position: relative;
    z-index: 20;
}